{% extends 'base.html.twig' %}

{% block title %}Rechercher{% endblock %}

{% block body %}
    <h1>Rechercher un Topic</h1>

    {{ form_start(form) }}
    {{ form_end(form) }}

    <a href="{{ path('topic_index') }}" class="btn btn-light">Revenir aux topics</a>
{% endblock %}

